#form_review_new {
  margin-top: 2vh;
  width: 50vw;
  height: 15vh;
  color: #c9e4ca;
  background-color: #3b6064;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-review-container {
  align-items: center;
}

.form-input-submit-group {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form-text-box{
  border-radius: 5px;
}
