.login {

  background-image: url('../background.jpeg');
  background-size: cover;
  width: '100vw';
  height: 100%;
  text-align: center;
  align-content: center;
  display: flex;
  flex-flow: column;
}
.nav {
  display: flex;
  justify-content: space-around;
}
#navContent {
  color: #7f4b3a;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
}
#blank {
  flex-grow: 4;
}
.loginbodyBox {
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  text-align: center;
  flex-flow: column;
}
.loginbody {
  position: relative;
  left: 25%;
  top: 12.5%;
  background-image: url('../whiteBack2.png');
  background-size: contain;
  width: 50%;
  height: 55%;
  border: gray solid 0.5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.welcome {
  font-family: Comfortaa;
  font-size: 58px;

  background-image: linear-gradient(45deg, #364958, #b6a4a4);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bottomBar {
  background-color: #3b6064;
  height: 30%;
  flex-grow: 1;
}
.bottomBarSup {
  background-color: #3b6064;
  height: 30%;
  flex-grow: 1;
}
#bottomText {
  position: relative;
  font-size: 48px;
  font-family: Sofia;
  line-height: 57px;
  color: white;
  top: 35%;
}
.signin {
  position:relative;
  background: #3B6064;
  color: white;
  width: 25.5vw;
  height: 4vh;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}
.signin:hover {
  background: #2c484b;
}
.signup {
  background-color: rgb(220, 245, 0);
  color: rgb(0, 0, 0);
  margin: 5px;
  width: 20vw;
  height: 4vh;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}
.signup:hover {
  background-color: rgb(202, 202, 202);
}
.error {
  width: 40%;
  height: 4vh;
  color: red;
  font-size: 15px;
}
.errorLogin {
  color: red;
  font-size: 15px;
  align-self: center;
}
.email {
  width: 25vw;
  height: 30px;
}
.emailBox {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 4vh;
  column-gap:20px;
  margin-left:20px;
  text-decoration: None;
}
.mod {
  align-items:center;
  justify-content: flex-end;
}
.formName {
  align-self: flex-end;
  font-size: 1rem;
}
.blank3 {
  width: 10vw;
}
.signupBox {
  width: 35vw;
  text-align: center;
}
.signupTitle {
  width: 20vw;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 15px;
}
#signupform {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}
.signupform {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}
.signupPage {
  background: #3B6064;
  color: white;
  width: 10vw;
  height: 35px;
  font-size: 20px;
  border-radius: 5px;
  text-align: center;
  align-self: center;
}
.signupPage:hover {
  background: #2c484b;
}