.review-list-item {
  max-width: 50vw;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
label {
  position: absolute;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: darkgray;
}
a:active {
  color: grey;
}
#content {
  text-align: justify;
  padding: 10px;
}
.left {
  top: 0;
  left: 100%;
}
.review-details {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;
}

.review-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: wrap;
}
.review-author-photo {
  max-inline-size: 10%;
  border-radius: 50%;
}
