.singleUserPageBox {
  height: 100%;
}

/* Dialog Modal form page css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
.mod {
  align-items: center;
  justify-content: flex-end;
}
.formName {
  align-self: flex-end;
  font-size: 1rem;
}
.blank3 {
  width: 10vw;
}
/* x button */
.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: "";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/* Cover page and picture */
.profileBox {
  display: flex;
  flex-flow: column;
  height: 60%;
  background-color: #fffef9;
}
.profileCover {
  display: flex;
  justify-content: space-around;
  height: 40vh;
  position: relative;
  z-index: 0;
}
/* image shade bottom */
.cover {
  height: 100%;
  width: 1400px;
}
.shadow {
  position: absolute;
  height: 100%;
  width: 1400px;
  box-shadow: inset 0px -200px 200px -200px #000000;
}
.shadow img {
  position: relative;
  z-index: -1;
}

.ownpage {
  position: relative;
  top: -25px;
  width: 200px;
  height: 200px;
  box-shadow: 0px 0px 0px 5px #fffef9;
}
.profilePicNavBox {
  display: flex;
  justify-content: space-around;
  height: 30%;
}
.profileNavBar {
  display: flex;
  flex-grow: 2;
  justify-content: end;
  align-items: center;
  flex-flow: column;
}
.blank2 {
  flex-grow: 0.7;
}
.divider {
  width: 100%;
  padding: 0px;
}
.pictureBox {
  flex-grow: 0.1;
  display: flex;
  justify-content: end;
}
.menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.editProfileButton {
  padding-top: 8px;
  align-self: flex-end;
  background: #3b6064;
  color: #fffef9;
  width: 10vw;
  height: 3vh;
  font-size: 1vw;
  border-radius: 5px;
  text-align: center;
}
.editProfileButton:hover {
  background: #2c484b;
}

/* adjust screen part */

@media only screen and (max-width: 800px) {
  .profileBox {
    height: 50%;
    background-color: #fffef9;
  }
  .cover {
    height: auto;
    width: 100%;
  }
  .shadow {
    position: absolute;
    height: auto;
    width: 100%;
    box-shadow: inset 0px -200px 200px -200px #000000;
  }
  .shadow img {
    position: relative;
    z-index: -1;
  }
}

/* body part */
.body {
  background-color: #f7f7f7;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.leftBody {
  width: 25%;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
}
.intro {
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding:10px;
  margin:5px;
}
.favoriteTitle {
  align-self: flex-start;
  font-size: 1rem;
  padding-bottom: 10px;
  margin-top:10px;
}
.favCoffee {
  max-width: 200px;
  max-height: 200px;
  width:auto;
  height: auto;
  align-self: center;
}
.followers {
  width: 100%;
  padding: 10px;
  margin: 5px;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.followerListBox {
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr))
}

.followerIcon {
  text-align: center;
  width: 60px;
  height: 60px;
}
.rightBody {
  width: 50%;
  display: flex;
  flex-flow: column;
  background-color: white;
  justify-content: start;
  align-items: center;
  margin-top: 30px;
  margin-left:30px;
}
