body {
  margin: 0 auto;
  height: 100vh;
  font-family: sans-serif;
}
#root {
  height: 100vh;
}
.header-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  z-index: 99 !important;
  background-color: #3b6064;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#singlepage {
  height: 100vh;
  background-color: #e5e5e5;
}
/** Logo */
.logo {
  flex-grow: 0.5;
  max-width: 50px;
  max-height: 50px;
}

/** Percolate phrase*/
.oursite {
  font-size: 2rem;
  font-weight: bold;
  margin: auto 20px auto 5px;
  color: #c9e4ca;
  display: flex;
  text-align: center;
}
.brand {
  margin-top: 5px;
}

/** Space between search bar*/
.blank {
  flex-grow: 1;
  display: flex;
}

/** The products button*/

.about {
  flex-grow: 0.5;
  color: #c9e4ca;
  height: 30%;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}
.about:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.space {
  flex-grow: 1;
}

/** ======= SEARCH BAR ======= */

.search {
  flex-grow: 3.5;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  text-align: left;
}

.search-input {
  left: 5px;
  margin: 2px;
  margin-left: 10px;
  width: 90%;
  height: 100%;
  border: 0;
}

.search-label {
  margin-right: 10px;
}
/** ======= Profile  ======= */

.loginBox {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profPic {
  background-color: #c9e4ca;
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  align-self: center;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 0px 0px 1px white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.username {
  margin-right: 5px;
  color: #c9e4ca;
}
.signoutButton {
  cursor: pointer;
  padding: 5px;
  color: #c9e4ca;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid white;
}

/* ===================Home page================== */

.home {
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-radius: 3px;
  padding: 10px;
}
.leftSide {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.self {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
}

.rightSide {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.centerBody {
  flex-grow: 3;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.feeding {
  height: auto;
}
.headNPost {
  display: flex;
  padding:5px;
  justify-content: flex-start;
  align-items: center;
}
.productAndBusiness {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
}
.post-input {
  width: 100%;
  height: auto;
  background-color: rgb(228, 227, 227);
  border-radius: 20px;
  border:0;
  margin-right:10px;
  font-size: 1rem;
  color: gray;
  text-align: left;
  padding-left: 10px;
}
.writepost {
  color:black;
  font-size:1.2rem;
}
.post {
  display: flex;
  flex-flow: row;
}

.textarea {
  width:100%;
  overflow:hidden;
  font-size:18px;
  height:auto;
  display: block;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}
.textarea {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;

}
p strong {
  display: block;
}


