body {
  margin: 0 auto;
  height: auto;
  font-family: sans-serif;
  background-color: #e5e5e5;
}
.loading {
  height: 100%;
  background-color: white;
  font-size: 48px;
}
#root {
  height: 100vh;
}
.header-navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  z-index: 99 !important;
  background-color: #3b6064;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#singlepage {
  height: 100vh;
  background-color: #e5e5e5;
}
/** Logo */
.logo {
  flex-grow: 0.5;
  width: 50px;
  height: 50px;
}

/** Percolate phrase*/
.oursite {
  font-size: 2rem;
  font-weight: bold;
  margin: auto 20px auto 5px;
  color: #c9e4ca;
  display: flex;
  text-align: center;
}
.brand {
  margin-top: 5px;
}

/** Space between search bar*/
.blank {
  flex-grow: 1;
  display: flex;
}

/** The products button*/

.about {
  flex-grow: 0.5;
  color: #c9e4ca;
  height: 30%;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
}
.about:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.space {
  flex-grow: 1;
}

/** ======= SEARCH BAR ======= */

.search {
  flex-grow: 3.5;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  text-align: left;
}

.search-input {
  left: 5px;
  margin: 2px;
  margin-left: 10px;
  width: 90%;
  height: 100%;
  border: 0;
}

.search-label {
  margin-right: 10px;
}
/** ======= Profile  ======= */

.loginBox {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profPic {
  background-color: #c9e4ca;
  margin-top: 5px;
  margin-right: 5px;
  width: 35px;
  height: 35px;
  align-self: center;
  overflow: hidden;
  object-fit: cover;
  box-shadow: 0 0px 0px 1px white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}
.username {
  margin-right: 5px;
  color: #c9e4ca;
}
.signoutButton {
  cursor: pointer;
  padding: 5px;
  color: #c9e4ca;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid white;
}

/* ===================Home page================== */

.home {
  display: flex;
  text-align: center;
  justify-content: space-around;
  border-radius: 3px;
  padding: 10px;
}
.leftSide {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.self {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
}

.rightSide {
  flex-grow: 1;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.centerBody {
  flex-grow: 3;
  margin: 10px;
  display: flex;
  justify-content: start;
  flex-flow: column;
  align-items: center;
}
.feeding {
  height: auto;
}
.headNPost {
  display: flex;
  padding: 5px;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 20px;
}
.commentImage {
  flex-grow: 1;
}
.productAndBusiness {
  display: flex;
  flex-flow: column;
  background-color: white;
  padding: 10px 0px 10px 10px;
  border-radius: 10px;
  width: 100%;
  margin: 5px;
}
.post-input {
  width: 100%;
  height: auto;
  background-color: rgb(228, 227, 227);
  border-radius: 20px;
  border: 0;
  margin-right: 10px;
  font-size: 1rem;
  color: gray;
  text-align: left;
  padding-left: 10px;
  flex-grow: 10;
}
.writepost {
  color: black;
  font-size: 1rem;
  padding-left: 5px;
}
.nameAndTime {
  display: flex;
  flex-flow: column;
}
.ago {
  font-size: 10px;
}
.post {
  display: flex;
  flex-flow: column;
}
.postNow {
  flex-grow: 0.5;
  width: 60px;
  height: 35px;
  margin-right: 10px;
  background-color:  #3B6064;
  border-radius: 20px;
  border:0;
  font-size: 20px;
  color: #c8d6cf;
}
.postNow:hover {
  background: #2c484b;
}
.textarea {
   background-color: rgb(228, 227, 227);
  width: 100%;
  overflow: hidden;
  font-size: 18px;
  height: auto;
  display: block;
  resize: both;
  min-height: 40px;
  line-height: 20px;
  resize: none;
  border: 0;
  padding-top: 5px;
  border-radius: 20px;
  font-family: inherit;
  font-size: inherit;
}
.textarea:focus {
  border: 0 none;
  overflow: hidden;
  outline: none;
}


p strong {
  display: block;
}

.ais-SearchBox-input {
  left: 5px;
  margin: 2px;
  margin-left: 10px;
  width: 90%;
  height: 100%;
  border: 0;
}

.ais-SearchBox-form {
  flex-grow: 3.5;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  border-radius: 25px;
  padding: 5px;
  margin: 10px;
  text-align: left;
}

.search-results:not(:empty) {
  position: absolute;
  top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  background-color: white;
  overflow-y: scroll;
  max-height: 50vh;
  z-index: 10;
  width: 40%;
  border-radius: 0 0 2% 2%;
  box-shadow: black 0px 1px 1px 1px;
}

.hit-photo {
  max-width: 50px;
  max-height: 50px;
  margin-right: 15px;
}

.ais-Hits {
  display: flex;
  flex-direction: column;
  width: 98%;
}

.ais-Hits-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
}

.ais-Hits-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid grey 1px;
  align-items: center;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 10px;
}
.header-middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10px;
}

.ais-SearchBox {
  align-self: center;
}

.ais-SearchBox-form {
  align-self: center;
}
.cardUpAdjustment {
  margin-top:0px;
  margin-bottom: 1px;
  border-radius: 0;
}

.cardUp {
  margin-top: 0px;
  margin-bottom: 1px;
  border-radius: 0px;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.cardUptwo {
  margin-top: 0px;
  border-radius: 0px 0px 20px 20px;
}
.heart {
  height: 20px;
  width: auto;
}
.likes {
  flex-grow: 2;
  display: flex;
  align-items: center;
}
.likes p {
  padding-left: 10px;
}
.flip {
  color: gray;
  transform: scaleX(-1);
}
.comments {
  flex-grow: 1;
  display: flex;
}
.comments p {
  padding-left: 10px;
}
.cardDown {
  margin-bottom: 1px;
  border-radius: 20px 20px 0px 0px;
}
.card {
  flex-flow: row;
  justify-content: space-around;
}
.coffeeInfo {
  text-align: left;
}

#map {
  height: 80%;
  width: 80%;
  margin: auto;
}
